<div class="item feature_name">
  <span class="value">{{feature.name}}</span>
  <div class="rounded_button finish_estimate">Finish Estimate</div>
</div>
<div class="item business_value">
  <div {{bindAttr class="rankClass businessValueToString"}}>
    <span class="value">{{feature.businessValue}}</span>
  </div>
</div>
<div class="item effort">
  <div {{bindAttr class="rankClass effortToString"}}>
    <span class="value">{{feature.effort}}</span>
  </div>
</div>
